{% load static %}
<html>
    <head>
        <title>housing price</title>
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    </head>

<body>
    <div class="login-box">
        <h1>HOUSING PRICE</h1>
        <h2>Logistic Regression</h2>
        <form action="calculate">
            <div class="user-box1">
                <input type="text" name="exp1" value="{{exp1}}" required="">
                <label>Enter the area:</label></div>
            <div class="user-box2">
                <input type="text" name="exp2" value="{{exp2}}" required="">
                <label>Enter the floor:</label>
            </div>
            <div class="user-box3">
                <input type="text" name="exp3" value="{{exp3}}" required="">
                <label>Enter the room:</label>
            </div>
            
            <input type="submit" name="submit" value="predict" class="submitbtn" />
        </form><br>
        <h2>Price: {{predicted}}</h2>
    </div>
</body>

</html>